{
  "marketplace": {
    "name": "BraveSearch",
    "description": "This MCP Server is from Github @modelcontextprotocol. Brave Search MCP Server intergrate with Brave Search API, now your LLM is able to search the keyword.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["AI", "OpenAI", "GPT", "LLM"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/brave-search"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "-e",
      "BRAVE_API_KEY",
      "mcp/brave-search"
    ],
    "env": {
      "BRAVE_API_KEY": "<YOUR_BRAVE_API_KEY>"
    }
  }
}
