{
  "marketplace": {
    "name": "fetch",
    "description": "This MCP Server is from Github @modelcontextprotocol. It enables you to fetch content from websites, convert it into Markdown format, and make it readable for Large Language Models (LLMs).",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/fetch"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "mcp/fetch"
    ]
  }
}