{
  "marketplace": {
    "name": "filesystem",
    "description": "This MCP Server is from Github @modelcontextprotocol. This MCP server let your LLM access your folder and file.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["AI", "OpenAI", "GPT", "LLM"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/filesystem"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "--mount", "type=bind,src=/path/folder_name,dst=/folder_path_in_docker",
      "--mount", "type=bind,src=/path/folder_name_read_only,dst=/folder_path_in_docker,ro",
      "--mount", "type=bind,src=/path/file_name.txt,dst=/file_path/file_name_in_docker.txt",
      "mcp/filesystem",
      "/projects"
    ],
    "alwaysAllow": true,
    "disabled": false
  },
  "config": {
    "folder_path": {
      "type": "string",
      "label": "Foldder Path",
      "description": "Paste the folder you want your LLM access",
      "required": true
    }
  }
}
