{
  "marketplace": {
    "name": "Git",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol. It enables your Large Language Models (LLMs) to read, search, and manipulate Git repositories",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/time"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "--rm",
      "-i",
      "--mount", "type=bind,src=${workspaceFolder},dst=/workspace",
      "mcp/git"
    ]
  }
}