{
  "marketplace": {
    "name": "Github",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol, allowing you to manage your Github resources.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/github.png",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/githubv"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "-e",
      "GITHUB_PERSONAL_ACCESS_TOKEN",
      "mcp/github"
    ],
    "env": {
      "GITHUB_PERSONAL_ACCESS_TOKEN": "<YOUR_TOKEN>"
    },
    "alwaysAllow": true,
    "disabled": false
  },
  "config": {
    "GITHUB_PERSONAL_ACCESS_TOKEN": {
      "type": "string",
      "label": "Github Personal Access Token",
      "description": "Please enter your Github personal access token.",
      "required": true
    }
  }
}
