{
  "marketplace": {
    "name": "Postgres",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol, allowing you to manage your PostgreSQL database.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://wiki.postgresql.org/images/thumb/a/a4/PostgreSQL_logo.3colors.svg/116px-PostgreSQL_logo.3colors.svg.png",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/postgres"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run", 
      "-i", 
      "--rm", 
      "mcp/postgres", 
      "postgresql://<YOUR_POSTGRESQL_HOST_PATH>:5432/mydb"
    ],
    "alwaysAllow": true,
    "disabled": false
  },
  "config": {
    "POSTGRES_PATH": {
      "type": "string",
      "label": "PostgreSQL Host Path",
      "description": "Please enter your PostgreSQL host path, for example: postgresql://localhost/mydb.",
      "required": true
    }
  }
}
