{
  "marketplace": {
    "name": "Postgres",
    "description": "This MCP Server is from Github @modelcontextprotocol, allowing you to manage your PostgreSQL database.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/postgresql.png",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/postgres"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run", 
      "-i", 
      "--rm", 
      "mcp/postgres", 
      "postgresql://<USER_NAME>:<PASSWORD>@<HOSTNAME>:<PORT>/<DB_NAME>"
    ]
  }
}
