{
  "marketplace": {
    "name": "Redis",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol, allowing you to manage your Redis database.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://cdn4.iconfinder.com/data/icons/redis-2/1451/Untitled-2-512.png",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/redis"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run", 
      "-i", 
      "--rm", 
      "mcp/redis", 
      "redis://<hostname>:<port>"
    ],
    "alwaysAllow": true,
    "disabled": false
  },
  "config": {
    "REDIS_PATH": {
      "type": "string",
      "label": "Redis Host Path",
      "description": "Please enter your Redis host path and port, for example: redis://localhost:6379.",
      "required": true
    }
  }
}
