{
  "marketplace": {
    "name": "Redis",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol, allowing you to manage your Redis database.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/redis.png",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/redis"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "-e",
      "REDIS_HOST",
      "-e",
      "REDIS_PORT",
      "-e",
      "REDIS_USERNAME",
      "-e",
      "REDIS_SSL",
      "-e",
      "REDIS_CA_PATH",
      "-e",
      "REDIS_SSL_KEYFILE",
      "-e",
      "REDIS_SSL_CERTFILE",
      "-e",
      "REDIS_CERT_REQS",
      "-e",
      "REDIS_CA_CERTS",
      "-e",
      "REDIS_CLUSTER_MODE",
      "-e",
      "REDIS_PWD",
      "mcp/redis"
    ],
    "env": {
      "REDIS_HOST": "<YOUR_REDIS_HOST>",
      "REDIS_PORT": "6379",
      "REDIS_USERNAME": "default",
      "REDIS_SSL": "False",
      "REDIS_CA_PATH": "",
      "REDIS_SSL_KEYFILE": "",
      "REDIS_SSL_CERTFILE": "",
      "REDIS_CERT_REQS": "required",
      "REDIS_CA_CERTS": "",
      "REDIS_CLUSTER_MODE": "False",
      "REDIS_PWD": ""
    }
  }
}
