{
  "marketplace": {
    "name": "Slack",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol. To enable this server to send messages to your Slack channels, you need to create a Slack Bot and add it to your desired channels.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://a.slack-edge.com/fd21de4/marketing/img/nav/logo.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/slack"
  },
  "runtime": {
    "baseImage": {
      "repository": "python",
      "tag": "3.9-slim",
      "registry": "docker.io"
    },
    "command": "npx",
    "args": [
      "-y",
      "@modelcontextprotocol/server-slack"
    ],
    "env": {
      "SLACK_BOT_TOKEN": "{{config.SLACK_BOT_TOKEN}}",
      "SLACK_TEAM_ID": "{{config.SLACK_TEAM_ID}}",
      "SLACK_CHANNEL_IDS": "{{config.SLACK_CHANNEL_IDS}}"
    },
    "alwaysAllow": true,
    "disabled": false
  },
  "config": {
    "SLACK_BOT_TOKEN": {
      "type": "string",
      "label": "Slack Bot Token",
      "description": "Please enter your Slack Bot token.",
      "required": true
    },
    "SLACK_TEAM_ID": {
      "type": "string",
      "label": "Slack Team ID",
      "description": "Please enter your Slack Team ID.",
      "required": true
    },
    "SLACK_CHANNEL_IDS": {
      "type": "array",
      "label": "Slack Channel IDs",
      "description": "Please enter the IDs of the Slack channels where you have added your Bot.",
      "required": false
    }
  }
}
