{
  "marketplace": {
    "name": "SSH",
    "description": "This MCP Server originates from the Github repository https://github.com/classfang/ssh-mcp-server. It enables you to establish an SSH connection to your devices and execute commands remotely.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/classfang/ssh-mcp-server"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "node:22.15",
      "npx",
      "-y",
      "@fangjunjie/ssh-mcp-server",
      "--host",
      "<HOST_IP>",
      "--port",
      "<SSH_PORT>",
      "--username",
      "<SSH_USERNAME>",
      "--password",
      "<SSH_PASSWORD>"
    ]
  }
}