{
  "marketplace": {
    "name": "Time",
    "description": "This MCP Server originates from the Github repository @modelcontextprotocol. It enables your Large Language Models (LLMs) to access current time information.",
    "version": "1.0.0",
    "maintainer": {
      "name": "AI Operator Team",
      "email": "eric.shen@pentium.network"
    },
    "tags": ["Devops"],
    "iconUrl": "https://releases.pentium.network/pentium-agent/static_assets/logos/pentium.svg",
    "documentation": "https://github.com/modelcontextprotocol/servers/tree/main/src/time"
  },
  "runtime": {
    "command": "docker",
    "args": [
      "run",
      "-i",
      "--rm",
      "mcp/time"
    ],
    "alwaysAllow": true,
    "disabled": false
  }
}